.header {
    padding: 80px 70px;
    background: #2282c6;
    margin-bottom: 60px;
    border-radius: 26px;
    background-repeat: no-repeat;
    background-size: 100% cover;
    background-position: right ;
    box-shadow: 0px 2px 11px #5c5c5c14;
}
.mainTitle {
    font-size: 43px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 7px;
}
.mainDesc {
    color: #eee;
    line-height: 1.7;
}
.headerAction {
    margin-top: 40px;
}
.headerAction button {
    background: #fff;
    color: #2282c6;
}
.headerAction button:hover {
    background: #edeaea !important;
    color: #2282c6 !important;
}
.headerAction button:active {
    opacity: 0.5 !important;
}
.subTitle {
    color: #000;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 32px;
}
.categories {
    margin-bottom: 70px;
}
.catsGrid {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    grid-gap: 12.52rem;
    gap: 20px;
    text-align: center;
}

.subTitle {
    font-size: 21px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.counter {
    background: #e74c3c;
    font-size: 14px;
    line-height: 1;
    border-radius: 50px;
    color: #fff;
    padding: 7px 16px;
    margin-left: 10px;
}
.prosContainer {
    margin-bottom: 100px;
}
.gridPros {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 12.52rem;
    gap: 20px;
}
.checkerMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    width: 100%;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .catsGrid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .checkerMessage {
        font-size: 23px;
    }
    .gridPros {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media (max-width: 767.98px) {
    .header  {
        padding: 60px 30px;
        text-align: center;
        border-radius: 12px;
        background-size: 0 0;
        background-color: #2282c6;
    }
    .mainTitle {
        font-size: 34px;
        line-height: 1.2;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .catsGrid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 10px;
    }
    .gridPros {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 10px;
    }
}

@media (max-width: 991.98px) {

}

@media (min-width: 576px) and (max-width: 991.98px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .header {
        padding: 60px 45px;
    }
    .mainTitle {
        font-size: 30px;
    }
    .catsGrid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 10px;
    }
    .gridPros {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 20px;
    }
}

@media (max-width: 1199.98px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .catsGrid {
        grid-template-columns: repeat(5, minmax(0, 1fr));
        gap: 10px;
    }
    .gridPros {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 10px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .catsGrid {
        grid-template-columns: repeat(6, minmax(0, 1fr));
        gap: 10px;
    }
    .gridPros {
        gap: 10px;
    }
}

@media (min-width: 1400px) {

}