.header {
    padding: 80px 70px;
    background: #2282c6;
    margin-bottom: 60px;
    border-radius: 26px;
    background-repeat: no-repeat;
    background-size: 100% cover;
    background-position: right ;
    box-shadow: 0px 2px 11px #5c5c5c14;
}
.mainTitle {
    font-size: 43px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 7px;
}
.mainDesc {
    color: #eee;
    line-height: 1.7;
}
.headerAction {
    margin-top: 40px;
}
.headerAction button {
    background: #fff;
    color: #2282c6;
}
.headerAction button:hover {
    background: #edeaea !important;
    color: #2282c6 !important;
}
.headerAction button:active {
    opacity: 0.5 !important;
}
.subTitle {
    color: #000;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 32px;
}
.categories {
    margin-bottom: 70px;
}
.catsGrid {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    grid-gap: 12.52rem;
    gap: 20px;
    text-align: center;
}
.catRow {
    position: relative;
    background: #E6E6E6;
    border-radius: 14px;
    padding: 40px 20px 40px;
    box-shadow: 0px 5px 30px #5c5c5c0d;
    cursor: pointer;
    transition: all 0.27s ease-in-out;
    background-size: 100px 100px;
    background-position: top right;
    background-repeat: no-repeat;
}
.crImg {
    width: 90px;
    height: 90px !important;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #fff;
    margin-bottom: 18px;
    position: relative;
    z-index: 10;
    transition: all 0.27s ease-in-out;
}
.catRow:first-of-type .crImg {
    border: none;
}
.crTitle {
    font-size: 16px;
    font-weight: 600;
    transition: all 0.27s ease-in-out;
    position: relative;
    z-index: 10;
}
.catRow:hover,
.catRow.activeCat {
    background-color: #2282c6;
    transform: translateY(-12px);
}
.catRow:hover .crTitle,
.catRow.activeCat .crTitle {
    color: #fff;
}
.catRow:active {
    opacity: 0.6;
}
.catRow:hover .selectAll,
.catRow.activeCat .selectAll {
    filter: invert();
}
.subTitle {
    font-size: 21px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.counter {
    background: #e74c3c;
    font-size: 14px;
    line-height: 1;
    border-radius: 50px;
    color: #fff;
    padding: 7px 16px;
    margin-left: 10px;
}
.prosContainer {
    margin-bottom: 100px;
}
.gridPros {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 12.52rem;
    gap: 20px;
}