.footer {
    padding: 100px 0 70px;
    border-top: 1px solid #eee;
}
.grid {
    display: grid;
    grid-template-columns: 0.7fr 0.8fr 0.8fr 1fr;
    grid-gap: 12.52rem;
    gap: 48px;
}
.footerTitle {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 30px;
}
.link {
    margin-bottom: 11px;
    font-size: 17px;
    text-decoration: none;
}
.link a {
    color: #666;
}
.link a:hover {
    text-decoration: underline;
    color: #000;
    display: inline-block;
}
.icon a {
    color: #333;
    margin-right: 13px;
    font-size: 18px;
    width: 40px;
    height: 40px;
    background: #E6E6E6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.icon a:hover {
    background: linear-gradient(90deg, rgba(60,112,149,1) 0%, rgba(60,112,149,1) 53%, rgba(13,118,193,1) 100%);
    color: #fff
}
.icon a:active {
    opacity: 0.7;
}
.copyright {
    color: #666;
    text-align: center;
    padding: 35px 20px;
    border-top: 1px solid #eee;
    font-size: 17px;
}
.locationDetails {
    padding-top: 40px;
}
.locationRow {
    margin-bottom: 20px;
}
.liRow {
    line-height: 1;
    color: #666;
    font-size: 16px;
    width: auto;
    display: inline-flex !important;
}
.liRow:hover {
    color: #000;
}
.liRow:hover .lrValue {
    text-decoration: underline;
}
.locationIcon {
    font-size: 20px;
    margin-right: 13px;
    position: relative;
    top: 2px;
    width: 22px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    
}

@media (max-width: 767.98px) {
    .copyright {
        padding: 20px 20px;
        font-size: 15px;
    }
    .grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 30px;
    }
    .footer {
        padding: 70px 0 40px;
    }
    .footerTitle {
        margin-bottom: 13px;
    }
    .logoImg {
        width: 100px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

}

@media (max-width: 991.98px) {
    .grid {
        gap: 20px;
    }
    .footerTitle {
        font-size: 23px;
        margin-bottom: 17px;
    }
    .footer {
        padding: 80px 0 50px;
    }
    .copyright {
        padding: 28px 20px;
        font-size: 16px;
    }
    .categories {
        padding: 80px 0;
    }
}

@media (min-width: 576px) and (max-width: 991.98px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

@media (max-width: 1199.98px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .grid {
        grid-template-columns: 0.6fr 0.8fr 0.8fr 1.4fr;
        gap: 25px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {

}

@media (min-width: 1400px) {

}